<launch>

    <!-- Run the EKF Localization node -->
    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <remap from="/odometry/filtered" to="/odometry/filtered/local"/>
        <rosparam command="load" file="$(find my_robot_tools)/config/local_ekf_localization.yaml"/>

    </node>

</launch>
